* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body {
    min-height: 100vh;
    background-color: $dark;
}

button {
    border: none;
    cursor: pointer;
}

button, 
button:active, 
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding: 20px;
    @include media-laptop {
        max-width: $tablet-width;
    }
}

.answerBlocks {
    display: flex;
    justify-content: space-between;
}