@font-face {
    font-family: 'Chaos';
    font-style: normal;
    font-weight: normal;
    src: local('Chaos'), local('Chaos'),
        url('../../assets/fonts/ChaosDemo-X33qd.ttf') format('truetype'); 
  }
