.answerBlock-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 360px;
}

.answerBlock-item {
    width: 550px;
    border: solid 1px $yellow;
}

.options {
    color: $yellow;
    display: flex;
    flex-direction: column;
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border: solid 1px $yellow;
        cursor: pointer;
    }
}

.track-info {
    padding: 20px;
    color: $light;
}

.nextLevel {
    width: 100%;
    height: 50px;
}